<div id="content">
</div>

<script type="text/javascript">

  window.FollowFocus = window.FollowFocus || {};

  window.FollowFocus.currentUser = {
    id: "<%= current_user.try(:id) || "null" %>"
  }

  window.FollowFocus.images = {
    spinner: "<%= image_path('ring.gif') %>",
    logo: "<%= image_path('logo_black.png') %>",
    logoLens: "<%= image_path('small_lens.png') %>",
    largeLens: "<%= image_path('large_lens.png') %>",
    blankAlbumCover: "<%= image_path('blank_album_cover.png') %>",
    uploadButton: "<%= image_path('upload.png') %>",
    splashPhoto: "<%= image_path('jagged.jpg') %>",
    splashPhoto2: "<%= image_path('fin.jpg') %>"
  }
</script>
