<div id="content">
</div>

<script type="text/javascript">

  window.FollowFocus = window.FollowFocus || {};

  window.FollowFocus.currentUser = {
    id: "<%= current_user.try(:id) || "null" %>",
  }

  window.FollowFocus.images = {
    logo: "<%= image_path('logo2.png') %>",
    logoLens: "<%= image_path('logo2_lensonly.png') %>",
    uploadButton: "<%= image_path('upload.png') %>",
    splashPhoto: "<%= image_path('jagged.jpg') %>",
    splashPhoto2: "<%= image_path('fin.jpg') %>"
  }
</script>
