<div class="login-page">

  <img class="login-logo" src="<%= image_path("logo2.png") %>" />

  <div class="login-form">

    <h3 class="login-header">Log In</h3>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <label class="username-label">
          <input type="text" class="username-login" name="user[username]" placeholder="Username">
        </label>

        <label class="password-label">
          <input type="password" class="password-login" name="user[password]" placeholder="Password">
        </label>

        <br/>

        <button class="login-button">Log In</button>

        <br/>

        <a href="http://www.followfocus.co/users/new" class="create-account-link">Create an Account</a>
    </form>

    <div class="demo-user">
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" class="username-login" name="user[username]" value="John">
        <input type="hidden" class="password-login" name="user[password]" value="password">
        <button>Login as Guest</button>
      </form>
    </div>
  </div>

</div>
