<!DOCTYPE html>
<html>
<head>
  <title>FollowFocus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="login_logout_div group">
    <% if logged_in? %>
      <%= button_to "Log Out", session_url, :method => :delete, form_class: 'login_logout_form group', class: 'login_logout_button group' %>
    <% else %>
      <%= button_to "Log In", new_session_url, :method => :get, form_class: 'login_logout_form group', class: 'login_logout_button group' %>
    <% end %>
  </div>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

<%= yield %>



</body>
</html>
