<!DOCTYPE html>
<html>
<head>
  <title>FollowFocus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDblyyN4YJ5oOdrHKC_NwktYQlhsJVR13M">
  </script>

  <div class="errors">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
      <br/>
    <% end %>
  <% end %>
  </div>

<%= yield %>


</body>
</html>
